주피터 SQL 엔진 설정

In [ ]:
%load_ext sql

월별 세션수를 계산하는 SQL

In [ ]:
%%sql

SELECT
    LEFT(ts, 7) AS mon,
    COUNT(1) AS session_count
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 1;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

가장 많이 사용된 채널은 무엇인가?

In [ ]:
%%sql

SELECT
    channel,
    COUNT(1) AS session_count,
    COUNT(DISTINCT userId) AS user_count
FROM raw_data.user_session_channel
GROUP BY 1                         -- GROUP BY channel
ORDER BY 2 DESC;              -- ORDER BY session_count DESC

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Youtube', 17091, 889),
 ('Google', 16982, 893),
 ('Naver', 16921, 882),
 ('Organic', 16904, 895),
 ('Instagram', 16831, 895),
 ('Facebook', 16791, 889)]

In [ ]:
%%sql

SELECT
    channel,
    COUNT(1) AS session_count,
    COUNT(DISTINCT userId) AS user_count
FROM raw_data.user_session_channel
GROUP BY 1                         -- GROUP BY channel
ORDER BY 3 DESC;              -- ORDER BY user_count DESC

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Instagram', 16831, 895),
 ('Organic', 16904, 895),
 ('Google', 16982, 893),
 ('Facebook', 16791, 889),
 ('Youtube', 17091, 889),
 ('Naver', 16921, 882)]

가장 많은 세션을 만들어낸 사용자 ID는 무엇인가?

In [ ]:
%%sql

SELECT
    userId,
    COUNT(1) AS count
FROM raw_data.user_session_channel
GROUP BY 1                         -- GROUP BY userId
ORDER BY 2 DESC              -- ORDER BY count DESC
LIMIT 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1615, 528)]

월별 유니크한 사용자 수

In [ ]:
%%sql

SELECT 
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1      
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 721),
 ('2019-10', 763),
 ('2019-09', 639),
 ('2019-08', 662),
 ('2019-07', 623),
 ('2019-06', 459),
 ('2019-05', 281)]

In [ ]:
%%sql

SELECT 
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  COUNT(B.userid) AS cnt,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1      
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 18059, 721),
 ('2019-10', 18899, 763),
 ('2019-09', 15790, 639),
 ('2019-08', 17151, 662),
 ('2019-07', 14840, 623),
 ('2019-06', 10520, 459),
 ('2019-05', 6261, 281)]

월별 채널별 유니크한 사용자 수

In [ ]:
%%sql

SELECT 
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  channel,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1, 2      
ORDER BY 1 DESC, 2;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### CTAS & CTE

CTAS: SELECT를 가지고 테이블 생성

In [ ]:
CTAS: SELECT를 가지고 테이블 생성

In [ ]:
%%sql

DROP TABLE IF EXISTS adhoc.keeyong_session_summary;
CREATE TABLE adhoc.keeyong_session_summary AS
SELECT B.*, A.ts FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

SELECT 
  TO_CHAR(ts, 'YYYY-MM') AS month,
  COUNT(DISTINCT userid) AS mau
FROM adhoc.keeyong_session_summary
GROUP BY 1 
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 721),
 ('2019-10', 763),
 ('2019-09', 639),
 ('2019-08', 662),
 ('2019-07', 623),
 ('2019-06', 459),
 ('2019-05', 281)]

중복된 레코드들 체크하기

In [ ]:
%%sql

SELECT COUNT(1) FROM adhoc.keeyong_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [ ]:
%%sql

SELECT COUNT(1)
FROM (
    SELECT DISTINCT userId, sessionId, ts, channel FROM adhoc.keeyong_session_summary
);

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [ ]:
%%sql

With ds AS (
  SELECT DISTINCT userId, sessionId, ts, channel FROM adhoc.keeyong_session_summary
)
SELECT COUNT(1)
FROM ds;

최근 데이터의 존재 여부 체크하기 (freshness)

In [ ]:
%%sql

SELECT MIN(ts), MAX(ts)
FROM adhoc.keeyong_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(datetime.datetime(2019, 5, 1, 0, 13, 11, 783000), datetime.datetime(2019, 11, 30, 23, 58, 23))]

Primary key uniqueness가 지켜지는지 체크하기

In [ ]:
%%sql

SELECT sessionId, COUNT(1)
FROM adhoc.keeyong_session_summary
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('05ae14d7ae387b93370d142d82220f1b', 1)]

값이 비어있는 컬럼들이 있는지 체크하기

In [ ]:
%%sql

SELECT
    COUNT(CASE WHEN sessionId is NULL THEN 1 END) sessionid_null_count,
    COUNT(CASE WHEN userId is NULL THEN 1 END) userid_null_count,
    COUNT(CASE WHEN ts is NULL THEN 1 END) ts_null_count,
    COUNT(CASE WHEN channel is NULL THEN 1 END) channel_null_count
FROM adhoc.keeyong_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0, 0, 0, 0)]

In [ ]:
%%sql

SELECT * FROM raw_data.session_timestamp limit 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', datetime.datetime(2019, 10, 18, 14, 14, 5, 100000))]

In [ ]:
%%sql

SELECT * FROM raw_data.user_session_channel limit 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1651, '0004289ee1c7b8b08c77e19878106ae3', 'Organic')]

In [ ]:
%%sql

SELECT * FROM raw_data.session_transaction WHERE amount=0 LIMIT 20;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('3d194d58a6470121c92f29c1ee4c936f', False, 0),
 ('50aaa83c9c2d1d1f3ebc6c732c1abc8c', False, 0),
 ('7fbfc161a3b873bf2119c788ed93d1f4', False, 0),
 ('d288a67e5fe3b80c0ccb9531e87d437a', False, 0),
 ('dfc95d616451863a4fe614534e08261c', False, 0),
 ('297b51d372955449d68d0b67ffda8c80', False, 0),
 ('52660fd5af844425740f3a7bf5151008', False, 0),
 ('99e17fbe90095024e6c982c85d43d150', False, 0),
 ('d572948a93127fa250a9aa8a122a4403', False, 0),
 ('e00747f11c12e85717de726cc6c2f188', False, 0)]

##### 어떤 테이블을 조인해야 할까?
##### MONTH - channel - transaction 순으로 조인하는 것이 효과적
#####  핵심 ! 복잡한 조인시 조인 전략을 먼저 수립하는 것이 중요하다.

In [ ]:
%%sql

DROP TABLE IF EXISTS adhoc.hyunwoo_session_summary;
CREATE TABLE adhoc.hyunwoo_session_summary AS
SELECT
  LEFT(B.ts, 7) AS month,
  A.channel as channel,
  COUNT(DISTINCT A.userid) AS uniqueUsers,
  COUNT(DISTINCT CASE WHEN C.amount>0 THEN C.sessionid END) AS paidUsers,
  ROUND(paidUsers*100.0/NULLIF(uniqueUsers, 0), 2) AS conversionRate,
  SUM(C.amount) AS grossRevenue,
  SUM(CASE WHEN C.refunded=True then C.amount ELSE 0 END) AS netRevenue
FROM raw_data.user_session_channel A
LEFT JOIN raw_data.session_timestamp B ON A.sessionid = B.sessionid
LEFT JOIN raw_data.session_transaction C ON A.sessionid = C.sessionid 
GROUP BY 1, 2      
ORDER BY 1, 2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

#### sql은 연산자를 이용할 때 정수끼리의 연산자는 정수의 형태로 리턴하기 때문에 항상 주의를 요한다.
NULL 이 들어간 사칙연산은 null이 됨을 항상 유의하자.
coalesce(value, 0) > value 가 null 이면 0을 리턴

In [ ]:
%%sql

SELECT * FROM adhoc.hyunwoo_session_summary

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Naver', 237, 11, Decimal('4.641'), 867, 23),
 ('2019-06', 'Google', 412, 13, Decimal('3.155'), 947, 0),
 ('2019-06', 'Naver', 398, 16, Decimal('4.020'), 1090, 0),
 ('2019-06', 'Youtube', 400, 17, Decimal('4.250'), 1042, 0),
 ('2019-07', 'Instagram', 567, 24, Decimal('4.233'), 1896, 130),
 ('2019-08', 'Naver', 626, 22, Decimal('3.514'), 1829, 278),
 ('2019-08', 'Youtube', 614, 18, Decimal('2.932'), 987, 37),
 ('2019-09', 'Instagram', 588, 20, Decimal('3.401'), 1260, 138),
 ('2019-09', 'Organic', 592, 22, Decimal('3.716'), 1267, 0),
 ('2019-10', 'Google', 699, 31, Decimal('4.435'), 2150, 52),
 ('2019-10', 'Naver', 713, 33, Decimal('4.628'), 2695, 0),
 ('2019-11', 'Instagram', 669, 26, Decimal('3.886'), 2116, 0),
 ('2019-11', 'Youtube', 677, 47, Decimal('6.942'), 3532, 201),
 ('2019-05', 'Google', 253, 10, Decimal('3.953'), 580, 0),
 ('2019-05', 'Organic', 238, 18, Decimal('7.563'), 1846, 275),
 ('2019-07', 'Facebook', 558, 32, Decimal('5.735'), 2222, 78),
 ('2019-07', 'Youtube', 564, 36, Decimal('6.383'), 2210, 173),
 ('2019-08', 'Google', 610, 28, Decimal('4.590'), 2210, 316),
 ('2019-09', 'Facebook', 597, 29, Decimal('4.858'), 2270, 0),
 ('2019-10', 'Youtube', 705, 36, Decimal('5.106'), 2492, 173),
 ('2019-11', 'Google', 688, 26, Decimal('3.779'), 2286, 51),
 ('2019-06', 'Facebook', 414, 22, Decimal('5.314'), 1578, 0),
 ('2019-06', 'Instagram', 410, 21, Decimal('5.122'), 1462, 44),
 ('2019-06', 'Organic', 416, 14, Decimal('3.365'), 1129, 189),
 ('2019-07', 'Google', 556, 21, Decimal('3.777'), 1558, 173),
 ('2019-07', 'Naver', 553, 19, Decimal('3.436'), 1547, 0),
 ('2019-08', 'Organic', 608, 26, Decimal('4.276'), 1643, 37),
 ('2019-09', 'Google', 599, 25, Decimal('4.174'), 1872, 181),
 ('2019-09', 'Naver', 592, 21, Decimal('3.547'), 1996, 0),
 ('2019-10', 'Facebook', 698, 29, Decimal('4.155'), 1650, 9),
 ('2019-10', 'Instagram', 707, 35, Decimal('4.950'), 2568, 173),
 ('2019-10', 'Organic', 709, 33, Decimal('4.654'), 2762, 154),
 ('2019-11', 'Organic', 677, 34, Decimal('5.022'), 2626, 371),
 ('2019-05', 'Facebook', 247, 14, Decimal('5.668'), 1199, 202),
 ('2019-05', 'Instagram', 234, 11, Decimal('4.701'), 959, 189),
 ('2019-05', 'Youtube', 244, 9, Decimal('3.689'), 529, 0),
 ('2019-07', 'Organic', 557, 22, Decimal('3.950'), 1600, 0),
 ('2019-08', 'Facebook', 611, 19, Decimal('3.110'), 1009, 0),
 ('2019-08', 'Instagram', 621, 29, Decimal('4.670'), 2129, 128),
 ('2019-09', 'Youtube', 588, 16, Decimal('2.721'), 1301, 0),
 ('2019-11', 'Facebook', 688, 25, Decimal('3.634'), 1678, 0),
 ('2019-11', 'Naver', 667, 26, Decimal('3.898'), 2234, 247)]